# backend/.gitignore

.env
.secrets/
__pycache__/

# Ignore Python bytecode files
*.pyc
# Ignore virtual environment directories
venv/
env/
# Ignore IDE specific files
.vscode/
.idea/
# Ignore log files
*.log
# Ignore database files
*.db
